@model Practic2.Models.StudentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>StudentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" id="myInput" />
                <input type="checkbox" onclick="myFunction()">Show Password
                <span asp-validation-for="Password" class="text-danger"></span>
                <script>
                    function myFunction() {
                        var x = document.getElementById("myInput");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.BookList, htmlAttributes: new { @class = "control-label col-md-2" })

                @for (var i = 0; i < Model.BookList.Count; i++)
                {
                    <br /> @Html.CheckBoxFor(m => m.BookList[i].IsSelected)
                    @Html.HiddenFor(m => m.BookList[i].BookName)
                    @Html.HiddenFor(m => m.BookList[i].BookID)
                    <span>@Model.BookList[i].BookName  </span>
                    @*<input name="@book.BookID" type="checkbox" value="@book.BookID" checked="@book.IsSelected" /> @book.BookName<br />*@
                }
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
